:root {
  --main-color: rgb(170, 0, 0);
  --shadow-color: rgb(0, 149, 255);
}
html {
  width: 100%;
  height: 100%;
  /* background-image: url(https://free4kwallpapers.com/uploads/originals/2020/07/19/night-city-k-wallpaper.jpg); */
  background-image: url("/Final Exam/IMG/bg-home.jpg");
  background-size: 100% 100%;
}
body {
  background-color: transparent;
  overflow: hidden;
}
p {
  padding: 0;
  margin: 0;
}
.btn-home {
  background-color: var(--main-color) !important;
  border: 0;
  border-radius: 10px !important ;
  box-shadow: 0 0 8px var(--shadow-color);
  color: white !important;
  font-size: 12px !important ;
}
.logo {
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 8px var(--shadow-color);
  background-color: white;
  padding: 4px 8px;
}
.userContainer {
  font-size: 20px;
}
.main-back-color {
  background-color: var(--main-color);
}
.main h1:first-child {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 0 4px 2px rgb(80, 90, 237);
}
.main h1:last-child {
  font-size: 54px;
  color: red;
  font-weight: 800;
  text-shadow: 0 4px 2px white;
}
.footer {
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 12px;
  text-align: center;
}
.close {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}
.modal-body input,
.modal-body label {
  margin-top: 0.5rem;
}
.levelSelector label {
  margin-right: 1.5rem;
}
.levelSelector label input {
  margin-right: 0.25rem;
}
.levelSelector label {
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown-menu {
  left: auto !important;
  right: 0px !important;
}
.dropdown-item {
  cursor: pointer;
}
